version: '3.9'

services:
  webmvc1:
    image: ${DOCKER_REGISTRY-}webmvc1
    build:
      context: .
      dockerfile: WebMVC1/Dockerfile
    ports:
      - "8800:80"
      - "8801:443"
  elastic:
    image: ${DOCKER_REGISTRY-}celasticweb:dev
  dmsapi:
    image: ${DOCKER_REGISTRY-}cdmsapi:dev